Arduino/Node-Red_Arduino.json
[{"id":"aabd08e2.9197c8","type":"tab","label":"Arduino","disabled":false,"info":""},{"id":"aaf7ad71.47e19","type":"serial in","z":"aabd08e2.9197c8","name":"","serial":"cb239e14.268ab","x":70,"y":180,"wires":[["9203a630.45c808"]]},{"id":"2f1fac79.ffe344","type":"debug","z":"aabd08e2.9197c8","name":"Frame from Sensors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":120,"wires":[]},{"id":"9203a630.45c808","type":"function","z":"aabd08e2.9197c8","name":"ToString","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["7b6efb8d.69efe4","a573622c.5b92e"]]},{"id":"7b6efb8d.69efe4","type":"split","z":"aabd08e2.9197c8","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":390,"y":180,"wires":[["ef05fe0c.e2a8","2f1fac79.ffe344"]]},{"id":"ef05fe0c.e2a8","type":"function","z":"aabd08e2.9197c8","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData: 0, \n    Temp_DHT11: 0,\n    Humid_DHT11: 0,\n    Soil_Moisture: 0,\n    Temp_Stick: 0,\n    Lux: 0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp_DHT11 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid_DHT11 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.Soil_Moisture = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.Temp_Stick = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 5:\n        context.data.Lux = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.Temp_DHT11 &&\n          context.data.Humid_DHT11 &&\n          context.data.Soil_Moisture &&\n          context.data.Temp_Stick &&\n          context.data.Lux;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["424bebac.fefc54","eab6c890.066068"]]},{"id":"424bebac.fefc54","type":"function","z":"aabd08e2.9197c8","name":"Split Data","func":"var msgTemp_DHT11 = {payload: msg.payload.Temp_DHT11};\nvar msgHumid_DHT11 = {payload: msg.payload.Humid_DHT11};\nvar msgSoil_Moisture = {payload: msg.payload.Soil_Moisture};\nvar msgTemp_Stick = {payload: msg.payload.Temp_Stick};\nvar msgLux = {payload: msg.payload.Lux};\n\n\nreturn [msgTemp_DHT11, msgHumid_DHT11, msgSoil_Moisture, msgTemp_Stick, msgLux];","outputs":5,"noerr":0,"x":840,"y":400,"wires":[["890a2fb4.04247","680eb423.405cac"],["596010d4.c79da","2202d4d5.4bcf4c"],["203aade1.81ba92","a5087dde.6367c"],["c58d6c76.5c592","4f26aba3.2d03f4"],["3fb2556a.f3fd9a","8cc1edf9.1d94f"]]},{"id":"eab6c890.066068","type":"debug","z":"aabd08e2.9197c8","name":"Frame from Sensors","active":false,"console":"false","complete":"true","x":880,"y":120,"wires":[]},{"id":"ba7a5825.53e428","type":"arduino out","z":"aabd08e2.9197c8","name":"Relay","pin":"11","state":"OUTPUT","arduino":"aee5eb9f.47b538","x":230,"y":380,"wires":[]},{"id":"890a2fb4.04247","type":"ui_gauge","z":"aabd08e2.9197c8","name":"Temp DHT11","group":"90b9f1eb.6eb36","order":1,"width":0,"height":0,"gtype":"gage","title":"Air Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":180,"wires":[]},{"id":"596010d4.c79da","type":"ui_gauge","z":"aabd08e2.9197c8","name":"Humid DHT11","group":"b7ac0884.0f5918","order":1,"width":6,"height":4,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#ffff80","#ff8000","#008000"],"seg1":"","seg2":"","x":1120,"y":280,"wires":[]},{"id":"203aade1.81ba92","type":"ui_gauge","z":"aabd08e2.9197c8","name":"Soil Moisture","group":"b7ac0884.0f5918","order":2,"width":6,"height":4,"gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":380,"wires":[]},{"id":"680eb423.405cac","type":"ui_chart","z":"aabd08e2.9197c8","name":"Graph 10 min Temp DHT11 (°C)","group":"dee99b16.ee3a48","order":1,"width":8,"height":4,"label":"Air Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":220,"wires":[[]]},{"id":"2202d4d5.4bcf4c","type":"ui_chart","z":"aabd08e2.9197c8","name":"Graph 10 min Humid DHT11 (%)","group":"e59fc719.cf2068","order":1,"width":8,"height":4,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":320,"wires":[[]]},{"id":"a5087dde.6367c","type":"ui_chart","z":"aabd08e2.9197c8","name":"Graph 10 min Soil Moisture (%)","group":"e59fc719.cf2068","order":2,"width":8,"height":4,"label":"Soil Moisture (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":420,"wires":[[]]},{"id":"5b959db9.e35894","type":"ui_switch","z":"aabd08e2.9197c8","name":"","label":"On/Off Pump","tooltip":"","group":"dd2eabcc.d4a5d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":380,"wires":[["ba7a5825.53e428"]]},{"id":"c58d6c76.5c592","type":"ui_gauge","z":"aabd08e2.9197c8","name":"Temp Stick","group":"90b9f1eb.6eb36","order":2,"width":0,"height":0,"gtype":"gage","title":"Water Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":480,"wires":[]},{"id":"4f26aba3.2d03f4","type":"ui_chart","z":"aabd08e2.9197c8","name":"Graph 10 min Temp Stick (°C)","group":"dee99b16.ee3a48","order":2,"width":8,"height":4,"label":"Water Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":520,"wires":[[]]},{"id":"3fb2556a.f3fd9a","type":"ui_gauge","z":"aabd08e2.9197c8","name":"Lux","group":"abf14126.d471f","order":1,"width":6,"height":4,"gtype":"gage","title":"Light Intensity Gauge","label":"","format":"{{value}} Lux","min":0,"max":"3000","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1090,"y":580,"wires":[]},{"id":"8cc1edf9.1d94f","type":"ui_chart","z":"aabd08e2.9197c8","name":"Graph 10 min Light Intensity (Lux)","group":"abf14126.d471f","order":2,"width":8,"height":4,"label":"Light Intensity Chart (Lux)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1180,"y":620,"wires":[[]]},{"id":"a573622c.5b92e","type":"debug","z":"aabd08e2.9197c8","name":"Frame from Sensors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":240,"y":120,"wires":[]},{"id":"2393a5.d97adc5c","type":"file in","z":"aabd08e2.9197c8","name":"SocTemp","filename":"/etc/armbianmonitor/datasources/soctemp","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":240,"y":520,"wires":[["3dc68c15.4aaa24"]]},{"id":"55557dde.3f7dc4","type":"inject","z":"aabd08e2.9197c8","name":"Time","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":520,"wires":[["2393a5.d97adc5c"]]},{"id":"a3bfcb48.657ad8","type":"ui_gauge","z":"aabd08e2.9197c8","name":"SocTemp","group":"f2941188.9fb9","order":1,"width":0,"height":0,"gtype":"gage","title":"SoC Temperature","label":"","format":"{{value | number:2}}°C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":520,"wires":[]},{"id":"3dc68c15.4aaa24","type":"function","z":"aabd08e2.9197c8","name":"Divide","func":"var newMsg = {payload: msg.payload/1000};\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a3bfcb48.657ad8"]]},{"id":"cb239e14.268ab","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":true,"responsetimeout":""},{"id":"aee5eb9f.47b538","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"90b9f1eb.6eb36","type":"ui_group","z":"","name":"Temperature Gauge","tab":"b97f899f.8730d8","order":1,"disp":true,"width":6,"collapse":false},{"id":"b7ac0884.0f5918","type":"ui_group","z":"","name":"Moisture Gauge","tab":"b97f899f.8730d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"dee99b16.ee3a48","type":"ui_group","z":"","name":"Temperature Chart","tab":"b97f899f.8730d8","order":2,"disp":true,"width":8,"collapse":false},{"id":"e59fc719.cf2068","type":"ui_group","z":"","name":"Moisture Chart","tab":"b97f899f.8730d8","order":4,"disp":true,"width":8,"collapse":false},{"id":"dd2eabcc.d4a5d8","type":"ui_group","z":"","name":"Relay Control","tab":"b97f899f.8730d8","order":7,"disp":true,"width":8,"collapse":false},{"id":"abf14126.d471f","type":"ui_group","z":"","name":"Light Intensity","tab":"b97f899f.8730d8","order":5,"disp":true,"width":"14","collapse":false},{"id":"f2941188.9fb9","type":"ui_group","z":"","name":"OrangePi SoC","tab":"b97f899f.8730d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"b97f899f.8730d8","type":"ui_tab","z":"","name":"Aquaponics System for Eel","icon":"dashboard","disabled":false,"hidden":false}]
