Arduino/Node-Red_Arduino.json
[{"id":"69e9aea8.e8c0d","type":"tab","label":"Arduino","disabled":false,"info":""},{"id":"35cdd6e8.b1637a","type":"serial in","z":"69e9aea8.e8c0d","name":"","serial":"2fd7c3f3.95f43c","x":50,"y":180,"wires":[["c8c6091f.47bca8"]]},{"id":"8201d930.b58068","type":"debug","z":"69e9aea8.e8c0d","name":"Frame from Sensors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":120,"wires":[]},{"id":"c8c6091f.47bca8","type":"function","z":"69e9aea8.e8c0d","name":"ToString","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["5118d8b9.d1b288"]]},{"id":"5118d8b9.d1b288","type":"split","z":"69e9aea8.e8c0d","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":350,"y":180,"wires":[["6f4d35ed.b8042c","8201d930.b58068"]]},{"id":"6f4d35ed.b8042c","type":"function","z":"69e9aea8.e8c0d","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData: 0, \n    Temp_DHT11: 0,\n    Humid_DHT11: 0,\n    Soil_Moisture: 0,\n    Temp_Stick: 0,\n    Lux: 0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp_DHT11 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid_DHT11 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.Soil_Moisture = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.Temp_Stick = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 5:\n        context.data.Lux = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.Temp_DHT11 &&\n          context.data.Humid_DHT11 &&\n          context.data.Soil_Moisture &&\n          context.data.Temp_Stick &&\n          context.data.Lux;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["750f4097.4056a","4a6a2323.cd369c"]]},{"id":"750f4097.4056a","type":"function","z":"69e9aea8.e8c0d","name":"Split Data","func":"var msgTemp_DHT11 = {payload: msg.payload.Temp_DHT11};\nvar msgHumid_DHT11 = {payload: msg.payload.Humid_DHT11};\nvar msgSoil_Moisture = {payload: msg.payload.Soil_Moisture};\nvar msgTemp_Stick = {payload: msg.payload.Temp_Stick};\nvar msgLux = {payload: msg.payload.Lux};\n\n\nreturn [msgTemp_DHT11, msgHumid_DHT11, msgSoil_Moisture, msgTemp_Stick, msgLux];","outputs":5,"noerr":0,"x":840,"y":400,"wires":[["c54fb2e5.427e3","f22ef0d7.189f9"],["eca49bed.e122b8","29cf6e6f.6044e2"],["d1e69782.bf8e78","daa6a33b.1fc1"],["169f9822.86c408","8e03c3dd.60208"],["a0e37a37.a3fe88","d8f51939.ef6778"]]},{"id":"4a6a2323.cd369c","type":"debug","z":"69e9aea8.e8c0d","name":"Frame from Sensors","active":false,"console":"false","complete":"true","x":880,"y":120,"wires":[]},{"id":"7a3b589e.1df668","type":"arduino out","z":"69e9aea8.e8c0d","name":"Relay","pin":"11","state":"OUTPUT","arduino":"28de1696.0f6f3a","x":350,"y":420,"wires":[]},{"id":"c54fb2e5.427e3","type":"ui_gauge","z":"69e9aea8.e8c0d","name":"Temp DHT11","group":"ced45077.c6daa","order":1,"width":0,"height":0,"gtype":"gage","title":"Air Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":180,"wires":[]},{"id":"eca49bed.e122b8","type":"ui_gauge","z":"69e9aea8.e8c0d","name":"Humid DHT11","group":"3d045c10.9f40c4","order":1,"width":6,"height":4,"gtype":"wave","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ffff80","#ff8000","#008000"],"seg1":"","seg2":"","x":1120,"y":280,"wires":[]},{"id":"d1e69782.bf8e78","type":"ui_gauge","z":"69e9aea8.e8c0d","name":"Soil Moisture","group":"3d045c10.9f40c4","order":2,"width":6,"height":4,"gtype":"wave","title":"Soil Moisture","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":380,"wires":[]},{"id":"f22ef0d7.189f9","type":"ui_chart","z":"69e9aea8.e8c0d","name":"Graph 5 min Temp DHT11 (°C)","group":"55f20af8.a53a44","order":1,"width":8,"height":4,"label":"Air Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":220,"wires":[[]]},{"id":"29cf6e6f.6044e2","type":"ui_chart","z":"69e9aea8.e8c0d","name":"Graph 5 min Humid DHT11 (%)","group":"a3ead5e2.28e498","order":1,"width":8,"height":4,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":320,"wires":[[]]},{"id":"daa6a33b.1fc1","type":"ui_chart","z":"69e9aea8.e8c0d","name":"Graph 5 min Soil Moisture (%)","group":"a3ead5e2.28e498","order":2,"width":8,"height":4,"label":"Soil Moisture (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":420,"wires":[[]]},{"id":"dc21f067.9c63e","type":"ui_switch","z":"69e9aea8.e8c0d","name":"","label":"On/Off Pump","tooltip":"","group":"ea6ec26a.0c7f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":420,"wires":[["7a3b589e.1df668"]]},{"id":"169f9822.86c408","type":"ui_gauge","z":"69e9aea8.e8c0d","name":"Temp Stick","group":"ced45077.c6daa","order":2,"width":0,"height":0,"gtype":"gage","title":"Water Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1110,"y":480,"wires":[]},{"id":"8e03c3dd.60208","type":"ui_chart","z":"69e9aea8.e8c0d","name":"Graph 5 min Temp Stick (°C)","group":"55f20af8.a53a44","order":2,"width":8,"height":4,"label":"Water Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1160,"y":520,"wires":[[]]},{"id":"a0e37a37.a3fe88","type":"ui_gauge","z":"69e9aea8.e8c0d","name":"Lux","group":"449f5920.0ce568","order":1,"width":6,"height":4,"gtype":"gage","title":"Light Intensity Gauge","label":"","format":"{{value}} Lux","min":0,"max":"300","colors":["#008000","#ff8000","#ff0000"],"seg1":"","seg2":"","x":1090,"y":580,"wires":[]},{"id":"d8f51939.ef6778","type":"ui_chart","z":"69e9aea8.e8c0d","name":"Graph 5 min Light Intensity (Lux)","group":"449f5920.0ce568","order":2,"width":8,"height":4,"label":"Light Intensity Chart (Lux)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":620,"wires":[[]]},{"id":"2fd7c3f3.95f43c","type":"serial-port","z":"","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":true,"responsetimeout":""},{"id":"28de1696.0f6f3a","type":"arduino-board","z":"","device":"COM3"},{"id":"ced45077.c6daa","type":"ui_group","z":"","name":"Temperature Gauge","tab":"282464df.cc686c","order":1,"disp":true,"width":6,"collapse":false},{"id":"3d045c10.9f40c4","type":"ui_group","z":"","name":"Moisture Gauge","tab":"282464df.cc686c","order":3,"disp":true,"width":"6","collapse":false},{"id":"55f20af8.a53a44","type":"ui_group","z":"","name":"Temperature Chart","tab":"282464df.cc686c","order":2,"disp":true,"width":8,"collapse":false},{"id":"a3ead5e2.28e498","type":"ui_group","z":"","name":"Moisture Chart","tab":"282464df.cc686c","order":4,"disp":true,"width":8,"collapse":false},{"id":"ea6ec26a.0c7f8","type":"ui_group","z":"","name":"Relay Control","tab":"282464df.cc686c","order":6,"disp":true,"width":6,"collapse":false},{"id":"449f5920.0ce568","type":"ui_group","z":"","name":"Light Intensity","tab":"282464df.cc686c","order":5,"disp":true,"width":"14","collapse":false},{"id":"282464df.cc686c","type":"ui_tab","z":"","name":"Aquaponics System for Eel","icon":"dashboard","disabled":false,"hidden":false}]